<template>
  <div id="app">
    <Header />
    <VotingItems />
    <VotingItemForm />
    <UsersActive />
  </div>
</template>

<script>
import Header from './components/Header.vue'
import UsersActive from './components/UsersActive.vue'
import VotingItems from './components/VotingItems.vue'
import VotingItemForm from './components/VotingItemForm.vue'

export default {
  name: 'App',
  components: {
    Header,
    UsersActive,
    VotingItems,
    VotingItemForm,
  },
}
</script>

<style>
:root {
  --color-primary: #274de5;
  --color-black: #030714;
  --font-primary: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-secondary: 'Hanken Grotesk', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.woff2') format('woff2'),
    url('./assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('./assets/fonts/hanken-bold.woff2') format('woff2'),
    url('./assets/fonts/hanken-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('./assets/fonts/hanken-light.woff2') format('woff2'),
    url('./assets/fonts/hanken-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-family: var(--font-primary);
}

body {
  position: relative;
  background: #f3f3f3;
}

#app {
  padding: 50px 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  min-height: calc(100vh - 100px);
  background: #fff;
}
</style>
