<template>
  <div class="header-wrapper">
    <h1>Abstimmen</h1>
    <form v-on:submit="submitForm">
      <input
        type="text"
        name="topic"
        v-model="topic"
        placeholder="Definiere Thema"
        v-on:input="inputChange"
      />
    </form>
  </div>
</template>

<script>
export default {
  name: 'Header',
  computed: {
    topic: {
      get() {
        return this.$store.state.headerTopic
      },
      set(value) {
        this.$store.commit('updateTopic', value)
      },
    },
  },
  methods: {
    inputChange: function(data) {
      this.$socket.emit('headerTopicChange', data.target.value)
      this.$store.commit('updateTopic', data.target.value)
    },
    submitForm: function(e) {
      e.preventDefault()
    },
  },
}
</script>

<style scoped>
.header-wrapper {
  text-align: center;
}

h1 {
  font-size: 1rem;
  margin-top: 0;
  text-transform: uppercase;
  opacity: 0.5;
  letter-spacing: 2px;
  font-family: var(--font-secondary);
  font-weight: 300;
}

input {
  width: 100%;
  border: none;
  font-size: 3rem;
  text-align: center;
  font-family: var(--font-secondary);
  font-weight: 700;
}

input:focus {
  outline: none;
}
</style>
