<template>
  <div>
    <span>{{ $store.getters.activeUsers }} Nutzer</span>
    online.
  </div>
</template>

<script>
export default {
  name: 'UsersActive',
}
</script>

<style scoped>
div {
  padding: 15px 18px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  background: #fff;
  border-left: 3px solid var(--color-primary);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}

span {
  color: var(--color-primary);
}
</style>
