<template>
  <form v-on:submit="formSubmitted">
    <input type="text" placeholder="Neues Thema" name="topic" />
  </form>
</template>

<script>
export default {
  name: 'VotingItemForm',
  methods: {
    formSubmitted(data) {
      data.preventDefault()
      this.$socket.emit('votingItemSubmitted', data.target.topic.value)
      data.target.topic.value = ''
    },
  },
}
</script>

<style scoped>
input {
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-black);
}

input:focus {
  outline: none;
}
</style>
