<template>
  <li>
    <div
      class="counter"
      :data-id="id"
      v-on:click="toggleVote(id)"
      v-bind:style="{ background: color }"
    >
      <span class="number">+{{ voted.length }}</span>
      <span class="vote">
        <InlineSvg :src="require('../assets/svgs/voted.svg')" />
      </span>
    </div>
    <div class="text">
      {{ title }}
      <div class="remove" v-on:click="removeTopic(id)">
        <InlineSvg :src="require('../assets/svgs/close.svg')" />
      </div>
    </div>
  </li>
</template>

<script>
import InlineSvg from 'vue-inline-svg'

export default {
  props: ['id', 'title', 'voted', 'color'],
  name: 'VotingItem',
  methods: {
    toggleVote(data) {
      this.$socket.emit('toggleVote', data)
    },
    removeTopic(data) {
      this.$socket.emit('removeTopic', data)
    },
  },
  components: {
    InlineSvg,
  },
}
</script>

<style scoped>
li {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

li .counter {
  position: relative;
  margin-right: 20px;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 1000px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  transition: all 400ms ease;
}

li .counter .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

li .counter .vote {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  line-height: 0;
  border-radius: 1000px;
  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.15);
}

li .text {
  position: relative;
  padding: 30px;
  width: 100%;
  background: #f3f3f3;
}

li .text .remove {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(50%) translateY(-50%);
  line-height: 0;
  cursor: pointer;
}
</style>
