<template>
  <ul v-if="$store.getters.topics.length">
    <VotingItem
      v-for="topic in $store.getters.topics"
      v-bind:title="topic.title"
      v-bind:voted="topic.voted"
      v-bind:color="topic.color"
      v-bind:id="topic.id"
      v-bind:key="topic.id"
    />
  </ul>
</template>

<script>
import VotingItem from './VotingItem.vue'

export default {
  name: 'VotingItems',
  components: {
    VotingItem,
  },
}
</script>

<style scoped></style>
